.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 25%;
    gap: 1%;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1%
}

.item {
    flex-grow: 1;
    min-width: 25%;
    min-height: 30%;
    font-size: 2vw;
    text-align: center;
}

#volume {
    -webkit-appearance: none !important;
    background: blue;
    height: 7px;
    border-style: dashed;
}

@media (hover: none) {
    .item {
        font-size: 60px;
    }
}